---
layout: main.liquid
---

<div class="xl:relative">
  <div class="mx-auto max-w-2xl">
    <a href="{{ '/' | withBase }}" class="group mb-8 flex items-center text-sm font-medium text-slate-500 transition hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300" aria-label="Go back to articles">
      <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="mr-1 h-4 w-4 stroke-current transition"><path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
      Go back
    </a>

    <article>
      <header class="flex flex-col">
        <h1 class="mt-6 text-4xl font-bold tracking-tight text-slate-800 sm:text-5xl dark:text-slate-100">{{ title }}</h1>

        <div class="order-first flex items-center gap-3 text-sm text-slate-400 dark:text-slate-500">
          <span class="flex items-center">
            <span class="h-4 w-0.5 rounded-full bg-slate-200 dark:bg-slate-500" aria-hidden="true"></span>
            <span class="ml-3">{{ date | date: "%d-%m-%Y" }}</span>
          </span>
          <span>{{ content | readTime }} min read</span>
        </div>

        <div class="mt-4 flex flex-wrap gap-2">
          {% for tag in tags %}
            {% if tag != "posts" %}
              <a href="{{ '/tags/' | append: tag | append: '/' | withBase }}">
                <span class="post-tag">{{ tag }}</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </header>

      <div class="prose prose-slate mt-8 dark:prose-invert hover:prose-a:text-blue-500 prose-headings:font-semibold prose-headings:tracking-tight">
        {{ content }}
      </div>

      {% include "author.liquid" %}
    </article>
  </div>
</div>